

.main {
  position: relative; /* for page-nav */
}

/* image-grid
------------------------- */

.image-grid {
  max-width: 1200px;
}

.image-grid__item,
.image-grid__col-sizer {
  width: 32%;
}

.image-grid__gutter-sizer { width: 2%; }

/* hide by default */
.image-grid.are-images-unloaded .image-grid__item {
  opacity: 0;
}

.image-grid__item {
  margin-bottom: 20px;
  float: left;
  padding: 25px 20px;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.15);
      margin-bottom: 35px;
}

.image-grid__image {
  display: block;
  max-width: 100%;
}

/* loader-ellips
------------------------- */

.loader-ellips {
  font-size: 20px;
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555;
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}

/* loader-wheel
------------------------- */

.loader-wheel {
  font-size: 64px; /* change size here */
  position: relative;
  height: 1em;
  width: 1em;
  padding-left: 0.45em;
  overflow: hidden;
  margin: 0 auto;
  animation: loader-wheel-rotate 0.5s steps(12) infinite;
}

.loader-wheel i {
  display: block;
  position: absolute;
  height: 0.3em;
  width: 0.1em;
  border-radius: 0.05em;
  background: #333; /* change color here */
  opacity: 0.8;
  transform: rotate(-30deg);
  transform-origin: center 0.5em;
}

@keyframes loader-wheel-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* page-nav
------------------------- */

.page-nav {
  font-size: 0.85rem;
  line-height: 1.2;
}

.page-nav__list {
  list-style: none;
  margin: 0 0 40px;
  padding: 0 10px 0 0;
}

.page-nav__item {
  margin: 0.2rem 0;
  overflow-wrap: break-word;
}

.page-nav__item--h3,
.page-nav__item--h4 {
  padding-left: 15px;
}

@media screen and ( min-width: 960px ) {
  .page-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
  }

  .page-nav__list {
    display: block;
    margin: 0;
    padding: 20px;
  }

  /* activate sticky */
  .page-nav:after {
    content: 'sticky';
    display: none;
  }

  .page-nav.is-sticky .page-nav__list {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
  }

}

/* scroller
------------------------- */

.scroller {
  height: 400px;
  padding: 10px 10px 100px;
  overflow-y: scroll;
  border: 1px solid #DDD;
  border-radius: 5px;
}

.scroller__content {
}

/* ---- scroller-item ---- */

.scroller-item {
  height: 200px;
  margin-bottom: 10px;
  padding: 20px;
  background: #19F;
  border-radius: 5px;
  color: white;
  font-size: 3.0rem;
  line-height: 1;
}

.scroller-item--height2 { height: 250px; }
.scroller-item--height3 { height: 300px; }

.scroller-item--magenta { background: #C25; }
.scroller-item--red { background: #E21; }
.scroller-item--gold { background: #EA0; }
.scroller-item--green { background: #6C6; }

/* ---- prefill ---- */

.scroller--prefill { height: 500px; }

.scroller--prefill .scroller-item,
.scroller--prefill .scroller-item--height2,
.scroller--prefill .scroller-item--height3 { height: 80px; }

/* scroller-status
------------------------- */


.scroller-status {
  display: none;
  padding: 20px 0;
}

.scroller-status__message {
  text-align: center;
  color: #777;
}
/* site nav
------------------------- */

.site-nav {
  background: #19F;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* clearfix */
.site-nav:after {
  content: '';
  clear: both;
  display: block;
}

/* bottom nav */
.main ~ .site-nav {
  position: relative;
  margin-top: 80px;
  z-index: 2; /* on top of page-nav */
}

.site-nav__item {
  width: 33.333%;
  float: left;
  line-height: 28px;
}

.site-nav__item a {
  display: block;
  color: white;
  padding: 5px
}

.site-nav__item--homepage {
  font-size: 1.5rem;
  font-weight: bold;
}

.site-nav__item--homepage a {
}

.site-nav__item a:hover {
  background: #C25;
  color: white;
}

.site-nav__item a:active {
  background: white;
  color: #8C8;
}

/* selected */
.page--style .site-nav__item--style a,
.page--options .site-nav__item--options a,
.page--api .site-nav__item--api a,
.page--events .site-nav__item--events a,
.page--extras .site-nav__item--extras a,
.page--license .site-nav__item--license a {
  background: #FFF;
  color: #19F;
}

/* size at which it can fit */
@media screen and ( min-width: 768px ) {

  .site-nav__item {
    width: auto;
    font-size: 1.1rem;
    line-height: 70px;
  }

  .site-nav__item a {
    padding: 0px 25px;
  }

  .site-nav__item--homepage {
    font-size: 1.4rem;
    width: 200px;
  }

}

/* site-scroll
------------------------- */

.site-scroll__button {
  margin: 60px auto;
  padding: 20px 40px;
}
