@font-face{
	src: url("fonts/Montserrat-SemiBold.ttf");
	font-family: "Monsterrat-semibold";
}
@font-face{
	src: url("fonts/Montserrat-ExtraBold.ttf");
	font-family: "Monsterrat-extrabold";
}
@font-face{
	src: url("fonts/Montserrat-Light.ttf");
	font-family: "Monsterrat-light";
}
@font-face{
	src: url("fonts/Montserrat-Regular.ttf");
	font-family: "Monsterrat-regular";
}
@font-face{
	src: url("fonts/Montserrat-Bold.ttf");
	font-family: "Monsterrat-bold";
}
@font-face{
	src: url("fonts/Montserrat-Medium.ttf");
	font-family: "Monsterrat-med";
}


html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

/**
 * Firefox specific rule
 */

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

.background .full {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    min-height: 100vh;
    z-index: 99;
}
body.background {
    overflow-y: hidden;
}
section{
	width: 100%;
	float: left;
}
body {
    overflow-x: hidden;
}


img.logo-img {
    width: 166px;
}
.header-sec {
    padding: 20px 0;
}
.header-sec .nav.navbar-nav{
	margin-top: 10px;
}
.header-sec .nav.navbar-nav li a{
	font-size: 15px;
	font-family: "Monsterrat-semibold";
	color: #000;
	text-transform: uppercase;
    padding: 15px 0 10px;
}
.nav>li {
    padding-left: 15px;
    padding-right: 15px;
}
.mobile-search {
    display: none;
}
.af-desktop{
    display: block;
}
.header-sec .nav.navbar-nav li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0%;
    background: #00acee;
    transition: all .2s ease-in-out;
}
.header-sec .nav.navbar-nav li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: #00acee;
    transition: all .2s ease-in-out;
}
.header-sec .nav.navbar-nav li.active a::before {
    width: 100%;
}
.header-sec .nav.navbar-nav li a:hover::after{
    width: 100%;
    transition: all .2s ease-in-out;
}
.header-sec .nav.navbar-nav li a:hover::before{
    width: 100%;
    transition: all .2s ease-in-out;
}
.header-sec .nav.navbar-nav li a:hover , .header-sec .nav.navbar-nav li a:focus{
	background-color: transparent;
	text-decoration: none;
	color: #000034;
    cursor: pointer;
}
.header-sec .nav.navbar-nav li a i {
    font-size: 20px;
}
.home-banner {
    padding: 100px 0px 115px;
    background-image: url(../images/banner-background.png);
    background-repeat: no-repeat;
    margin-top: -125px;
    height: 600px;
    background-position: top;
}
.home-banner h1 {
    font-family: "Monsterrat-light";
    font-size: 39px;
    line-height: 50px;
    margin-bottom: 80px;
    color: #000034;
    text-transform: uppercase;
    margin-top: 20%;
}
.home-banner h1 span{
	font-family: "Monsterrat-semibold";
}
.home-banner a {
    color: #000034;
    font-size: 17px;
    font-family: "Monsterrat-med";
    position: relative;
    border: 2px solid #000034;
    padding: 10px 25px;
    text-transform: uppercase;
}
.home-banner a:hover , .home-banner a:focus{
	background-color: #000034;
	text-decoration: none;
	color: #fff;
}
.banner-half {
    display: inline-block;
    margin-top: 10%;
}

.banner-carousel {
	position: relative;top: -175px;
	right: -650px;
	overflow-x: hidden;
}
.banner-img-box {
    position: relative;
    width: 100%;
}
img.banner-img {
    position: absolute;
    top: 160px;
    width: 700px;
    right: -50px;
}
section.graphic-design-sec {
    background-color: #fff;
    padding: 175px 0 100px;
}

.graphic-content h2 {
    font-size: 31px;
    text-transform: uppercase;
    font-family: "Monsterrat-light";
    color: #000034;
    margin: 0;
    line-height: 40px;
    padding: 0 0 25px;
}

.graphic-content h2 span {
    font-family: "Monsterrat-semibold";
}

.graphic-content p {
    font-family: "Monsterrat-regular";
    font-size: 16px;
    color: #242424;
    margin: 0;
    padding: 10px 0;
}

.graphic-content {
	padding: 0 0 0px 30px;
}
.pb-150{
	padding-bottom: 150px;
}
.graphic-img-box {
    width: 100%;
    text-align: right;
    position: relative;
    overflow: hidden;
}
.pt-5{
	padding-top: 5px;
}
.company-box {
    width: 100%;
    text-align: center;
    position: relative;
}

.company-box p {
    font-size: 14px;
    font-family: "Monsterrat-light";
    color: #242424;
    padding-top: 60px;
}
.company-box img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.design-img-box img {
    width: 100%;
    box-shadow: -25px 25px 30px 3px rgba(0,0,0,0.15);
}
.design-img-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.graphic-img-box img {
    box-shadow: 40px 40px 30px -13px rgba(0,0,0,0.15);
    width: 100%;
}
section.business-story-sec {
    padding: 100px 0;
    background: #fff;
}
section.business-story-sec h2 {
    text-align: center;
    font-size: 31px;
    color: #002e5e;
    text-transform: uppercase;
    font-family: "Monsterrat-light";
}
section.business-story-sec h2 span {
    font-family: "Monsterrat-semibold";
}
section.business-story-sec p {
    text-align: center;
    font-family: "Monsterrat-light";
    font-size: 18px;
    color: #002e5e;
    text-transform: uppercase;
    font-weight: 600;
}
.pt-70{
	padding-top: 70px;
}
.business-story-sec .business-content p {
    text-align: left;
    font-size: 15px;
    font-family: "Monsterrat-light";
    color: #242424;
    text-transform: initial;
}

.business-story-sec .business-content h6 {
    background-color: #e0e0e0;
    color: #002e5e;
    font-size: 14px;
    width: 30px;
    height: 30px;
    font-family: "Monsterrat-med";
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}
.pt-40{
	padding-top: 40px;
}
.mt-90{
	margin-top: 90px;
}
.mt-60{
	margin-top: 60px;
}
.mt-80 {
    margin-top: 80px;
}
.goto-work-box {
    width: 100%;
    text-align: center;
    padding: 85px 0 0;
}

.goto-work-box a {
    color: #000034;
    font-size: 17px;
    font-family: "Monsterrat-med";
    position: relative;
    border: 2px solid #000034;
    padding: 10px 25px;
    text-transform: uppercase;
}
.goto-work-box a:hover , .goto-work-box a:focus{
	background-color: #000034;
	text-decoration: none;
	color: #fff;
}
.client-testimonials {
    background-color: #fff;
    padding: 50px 0 80px;
}
.client-testimonials.home{
    background-color: #eff0f1;
}
.client-testimonials h2 {
    text-align: center;
    margin-bottom: 75px;
    font-size: 30px;
    color: #000034;
    text-transform: uppercase;
    font-family: "Monsterrat-light";
}

.client-testimonials h2 span {
    font-family: "Monsterrat-semibold";
}
.testimonial-box {
    display: inline-block;
    width: 30.3%;
    padding: 25px 20px;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.15);
    margin: 0px 25px 25px 0;
}
.testimonial-box:hover {
    cursor: pointer;
    box-shadow: 0 0 70px 10px rgba(0,0,0,0.15);
}
.color-purple {
    background-color: #eeebfe;
}

.color-blue {
    background-color: #bce8ff;
}

.color-skin {
    background-color: #fdf3da;
}

.color-green {
    background-color: #deffe0;
}

.color-pink {
    background-color: #f9e4e9;
}

.color-sky {
    background-color: #cefeff;
}
.color-lemon{
    background-color:  rgba(255,250,205,0.35);
}
.color-aqua{
    background-color: rgba(127,255,212,0.35);
}
.color-lavendar{
    background-color: rgba(221,160,221,0.1);
}
.color-pinkish{
    background-color: rgba(255,192,203,0.35);
}
.color-seashell{
    background-color: rgba(255, 245, 238,0.35);
}
.color-beige{
    background-color: rgba(245,245,220,0.35);
}
.color-alice{
    background-color: #F0F8FF;
}
.color-magenta{
    background-color: rgba(139,0,139,0.05);
}
.color-antique{
    background-color: #FAEBD7;
}
.color-wheat{
    background-color: rgba(245,222,179,0.35);
}
.color-deepsky{
    background-color: rgba(0,191,255,0.2);
}
.color-indigo{
    background-color: rgba(75,0,130,0.09);
}
.color-hotpink{
    background-color: rgba(255,105,180,0.15);
}
.color-dew{
    background-color: #F0FFF0;
}
.color-mint{
    background-color: #F5FFFA;
}
.color-mistyrose{
    background-color: #fcedec;
}
.color-gold{
    background-color: rgba(218,165,32,0.1);
}
.color-slate{
    background-color: rgba(123,104,238,0.2);
}
.color-seagreen{
    background-color: rgba(32,178,170,0.1);
}
.color-slategrey{
    background-color: rgba(119,136,153,0.1);
}
.testimonial-box h6 {
    font-size: 18px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    margin: 0;
    padding-bottom: 20px;
    color: #000;
}

.testimonial-box p {
    font-family: "Monsterrat-light";
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #000;
}
.full-testi-box {
    position: relative;
    height: 700px;
}

.notes-style-box1 {
	position: absolute;top: 0;left: 0;
}

.notes-style-box2 {
    position: absolute;
    top: 0;
    left: 34%;
}

.notes-style-box3 {
    position: absolute;
    top: 0;
    right: 0;
}

.notes-style-box4 {
    position: absolute;
    left: 0;
    top: 240px;
}

.notes-style-box5 {
    position: absolute;
    left: 34%;
    top: 360px;
}

.notes-style-box6 {
    position: absolute;
    right: 0;
    top: 295px;
}
.main-footer {
    background-color: #393939;
    padding: 70px 0;
    text-align: center;
}
.footer-contents img {
    width: 275px;
}
.footer-contents ul {
    list-style: none;
    padding: 40px 0 20px;
}

.footer-contents ul li {
    display: inline-block;
    padding: 0 20px;
}

.footer-contents ul li a {
    color: #fff;
    text-transform: uppercase;
    font-family: "Monsterrat-med";
    font-size: 14px;
    position: relative;
    padding-bottom: 10px;
}
.footer-contents h4 {
    color: #fff;
    font-family: "Monsterrat-med";
    font-size: 16px;
}

.socials-icons {
    padding: 10px 0 0;
}

.socials-icons a {
    color: #393939;
    background: #7f7f7f;
    margin-right: 5px;
    padding: 8px;
    position: relative;
    border-radius: 2px;
}


.socials-icons a i {
    font-size: 16px;
}


.socials-icons a.fa {
    background: #3c579a;
    color: #fff;
}
.socials-icons a.twi {
    color: #fff;
    background-color: #00acee;
}
.socials-icons a.link {
    color: #fff;
    background-color: #0077B5;
}
.socials-icons a.you {
    color: #fff;
    background-color: #c4302b;
}
.footer-contents ul li a:hover {
    text-decoration: none;
}
.footer-contents ul li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0%;
    background: #fff;
    transition: all .2s ease-in-out;
}
.footer-contents ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: #fff;
    transition: all .2s ease-in-out;
}
.footer-contents ul li a:hover::before{
    width: 100%;
    transition: all .2s ease-in-out;
}
.footer-contents ul li a:hover::after{
    width: 100%;
    transition: all .2s ease-in-out;
}
section.bottom-footer {
    background-color: #2b2b2b;
    text-align: center;
    padding: 20px 0;
}

section.bottom-footer p {
    color: #fff;
    font-size: 16px;
    font-family: "Monsterrat-light";
    margin: 0;
}
.how-work-sec {
    padding: 75px 0 100px;
}

section.how-work-sec h2 {
    font-family: "Monsterrat-light";
    text-align: center;
    text-transform: uppercase;
    color: #000034;
    padding-bottom: 75px;
}

section.how-work-sec h2 span {
    font-family: "Monsterrat-semibold";
}

.how-work-sec .work-boxes h2 {
    text-align: left;
    font-family: "Monsterrat-semibold";
    color: #000034;
    padding-bottom: 20px;
}

.work-boxes p {
    font-family: "Monsterrat-light";
    font-weight: 600;
    padding: 0 70px 15px 0;
    margin: 0;
}

.work-boxes ol li {
    font-family: "Monsterrat-light";
    font-weight: 600;
    padding: 0 80px 0 0;
}

.work-boxes ol {
	padding-top: 5px;
	padding-bottom: 10px;
}
.business-part-sec {
    background-color: #eff0f1;
    padding: 100px 0 80px;
}

.business-part-sec h2 {
    font-family: "Monsterrat-light";
    text-align: center;
    text-transform: uppercase;
    color: #000034;
    padding-bottom: 50px;
}

.business-part-sec h2 span {
    font-family: "Monsterrat-semibold";
}

.business-part-sec p {
    font-family: "Monsterrat-light";
    text-align: center;
    text-transform: uppercase;
    color: #000034;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 30px;
}

.boxes-business {
    text-align: center;
    padding: 30px 0;
}

.boxes-business h3 {
    font-family: "Monsterrat-semibold";
    font-size: 20px;
    color: #242424;
    margin: 0;
    padding: 30px 0 0;
}
.ask-inline {
    display: inline-block;
    width: 100%;
    float: left;
    padding-top: 50px;
}
.ask-inline p {
    display: inline-block;
    font-size: 22px;
    margin: 0;
    padding-top: 10px;
}

.ask-inline a {
    float: right;
    display: inline-block;
    color: #000034;
    font-size: 17px;
    font-family: "Monsterrat-med";
    position: relative;
    border: 2px solid #000034;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 600;
}
.ask-inline a:hover{
	color: #fff;
    text-decoration: none;
    background-color: #000034;
}
.design-pen-box {
    position: relative;
    width: max-content;
    width: -moz-max-content;
    width: -o-max-content;
    width: -webkit-max-content;
    margin: 0 auto;
}

img.upper-img {
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 80px;
}


/*Blinking animation*/
.boxes-business:hover{
	cursor: pointer;
}
.boxes-business:hover .design-pen-box span:nth-child(1) , .boxes-business:hover .media-secreen-box span:nth-child(1) , .boxes-business:hover .business-full-box span:nth-child(1) , .boxes-business:hover .corporate-inner span:nth-child(1), .boxes-business:hover .speaker-img-box span:nth-child(1){
	animation: blink1 2s linear infinite;
}
.boxes-business:hover .design-pen-box span:nth-child(2) , .boxes-business:hover .media-secreen-box span:nth-child(2) , .boxes-business:hover .business-full-box span:nth-child(2) , .boxes-business:hover .corporate-inner span:nth-child(2) , .boxes-business:hover .speaker-img-box span:nth-child(2){
	animation: blink2 2s linear infinite;
}
.boxes-business:hover .design-pen-box span:nth-child(3) , .boxes-business:hover .media-secreen-box span:nth-child(3) , .boxes-business:hover .business-full-box span:nth-child(3) , .boxes-business:hover .corporate-inner span:nth-child(3) , .boxes-business:hover .speaker-img-box span:nth-child(3){
	animation: blink3 2s linear infinite;
}
.boxes-business:hover .design-pen-box span:nth-child(4) , .boxes-business:hover .media-secreen-box span:nth-child(4) , .boxes-business:hover .business-full-box span:nth-child(4) , .boxes-business:hover .corporate-inner span:nth-child(4){
	animation: blink4 2s linear infinite;
}
.boxes-business:hover .design-pen-box span:nth-child(5) , .boxes-business:hover .business-full-box span:nth-child(5) , .boxes-business:hover .corporate-inner span:nth-child(5){
	animation: blink5 2s linear infinite;
}
.design-pen-box span:nth-child(1) {
    background-image: url(../images/star01.png);
    position: absolute;
    bottom: 10px;
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    left: 15px;
    background-size: cover;
    transition: 0.1s;
}
.design-pen-box span:nth-child(2) {
    background-image: url(../images/star02.png);
    position: absolute;
    top: 40px;
    height: 15px;
    background-repeat: no-repeat;
    left: 15px;
    background-size: cover;
    width: 15px;
    transition: 0.3s;
}
.design-pen-box span:nth-child(3) {
    background-image: url(../images/star03.png);
    position: absolute;
    top: 40px;
    width: 6px;
    height: 6px;
    background-repeat: no-repeat;
    right: 56px;
    background-size: cover;
    transition: 0.5s;
}
.design-pen-box span:nth-child(4) {
    background-image: url(../images/star04.png);
    position: absolute;
    top: 65px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    right: 30px;
    background-size: cover;
    transition: 0.7s;
}
.design-pen-box span:nth-child(5) {
    background-image: url(../images/star05.png);
    position: absolute;
    bottom: 10px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    right: 30px;
    background-size: cover;
    transition: 1s;
}
@keyframes blink1{
	0%{
		opacity: 0;
	}
	10%{
		opacity: 1;
	}
	25%{
		opacity: 1;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
@keyframes blink2{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}

@keyframes blink3{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}

@keyframes blink4{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	75%{
		opacity: 0;
	}
	85%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}

@keyframes blink5{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
/*+ sign animation*/

img.screen-img {
    position: absolute;
    bottom: 0px;
    left: 12px;
    width: 125px;
}

.media-secreen-box {
    position: relative;
    width: max-content;
    width: -moz-max-content;
    width: -o-max-content;
    width: -webkit-max-content;
    margin: 0 auto;
}
.media-secreen-box span:nth-child(1) {
    background-image: url(../images/plus01.png);
    position: absolute;
    bottom: 10px;
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    left: 25px;
    background-size: cover;
    transition: 0.1s;
    /*animation: blink1 2s linear infinite;*/
}
.media-secreen-box span:nth-child(2) {
    background-image: url(../images/plus01.png);
    position: absolute;
    top: 70px;
    height: 7px;
    background-repeat: no-repeat;
    right: 40px;
    background-size: cover;
    width: 7px;
    transition: 0.5s;
    /*animation: blink2 2s linear infinite;*/
}
.media-secreen-box span:nth-child(3) {
    background-image: url(../images/plus01.png);
    position: absolute;
    top: 60px;
    height: 8px;
    background-repeat: no-repeat;
    right: 30px;
    background-size: cover;
    width: 8px;
    transition: 1s;
   /* animation: blink3 2s linear infinite;*/
}
.media-secreen-box span:nth-child(4) {
    background-image: url(../images/plus01.png);
    position: absolute;
    top: 50px;
    height: 9px;
    background-repeat: no-repeat;
    right: 20px;
    background-size: cover;
    width: 9px;
    transition: 2s;
    /*animation: blink4 2s linear infinite;*/
}
/*End here*/

/*For animation*/
.graphic-img-box span:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right,#bce8ff,#000034);
	animation: animate1 2s linear infinite;
}
.graphic-img-box span:nth-child(2){
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to bottom,#bce8ff,#000034);
	animation: animate2 2s linear infinite;
}
.graphic-img-box span:nth-child(3){
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left,#bce8ff,#000034);
	animation: animate3 2s linear infinite;
}
.graphic-img-box span:nth-child(4){
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to top,#bce8ff,#000034);
	animation: animate4 2s linear infinite;
}


.design-img-box span:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right,#bce8ff,#000034);
	animation: animate1 2s linear infinite;
}
.design-img-box span:nth-child(2){
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to bottom,#bce8ff,#000034);
	animation: animate2 2s linear infinite;
}
.design-img-box span:nth-child(3){
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left,#bce8ff,#000034);
	animation: animate3 2s linear infinite;
}
.design-img-box span:nth-child(4){
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to top,#bce8ff,#000034);
	animation: animate4 2s linear infinite;
}





@keyframes animate1{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}
@keyframes animate2{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(100%);
	}
}
@keyframes animate3{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}
@keyframes animate4{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(-100%);
	}
}
/*End here*/


/*Green star*/
.business-full-box {
    position: relative;
    width: max-content;
    width: -moz-max-content;
    width: -o-max-content;
    width: -webkit-max-content;
    margin: 0 auto;
}

img.business-img {
    position: absolute;
    bottom: -11px;
    width: 90px;
    left: 25px;
}
.business-full-box span:nth-child(1) {
    background-image: url(../images/stargreen05.png);
    position: absolute;
    bottom: -5px;
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    left: 15px;
    background-size: cover;
    transition: 0.1s;
    /*animation: blink1 2s linear infinite;*/
}
.business-full-box span:nth-child(2) {
    background-image: url(../images/stargreen05.png);
    position: absolute;
    top: 40px;
    height: 15px;
    background-repeat: no-repeat;
    left: 15px;
    background-size: cover;
    width: 15px;
    transition: 0.3s;
   /* animation: blink2 2s linear infinite;*/
}
.business-full-box span:nth-child(3) {
    background-image: url(../images/stargreen05.png);
    position: absolute;
    top: 40px;
    width: 6px;
    height: 6px;
    background-repeat: no-repeat;
    right: 56px;
    background-size: cover;
    transition: 0.5s;
    /*animation: blink3 2s linear infinite;*/
}
.business-full-box span:nth-child(4) {
    background-image: url(../images/stargreen05.png);
    position: absolute;
    top: 65px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    right: 30px;
    background-size: cover;
    transition: 0.7s;
    /*animation: blink4 2s linear infinite;*/
}
.business-full-box span:nth-child(5) {
    background-image: url(../images/stargreen05.png);
    position: absolute;
    bottom: 0px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    right: 30px;
    background-size: cover;
    transition: 1s;
    /*animation: blink5 2s linear infinite;*/

}



.corporate-inner {
    position: relative;
    width: max-content;
    width: -moz-max-content;
    width: -o-max-content;
    width: -webkit-max-content;
    margin: 0 auto;
}

img.corparete-img {
    position: absolute;
    bottom: 0px;
    width: 95px;
    left: 25px;
}
.corporate-inner span:nth-child(1) {
    background-image: url(../images/starpurple05.png);
    position: absolute;
    bottom: -7px;
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    left: 15px;
    background-size: cover;
    transition: 0.1s;
    /*animation: blink1 2s linear infinite;*/
}
.corporate-inner span:nth-child(2) {
    background-image: url(../images/starpurple05.png);
    position: absolute;
    top: 40px;
    height: 15px;
    background-repeat: no-repeat;
    left: 15px;
    background-size: cover;
    width: 15px;
    transition: 0.3s;
   /* animation: blink2 2s linear infinite;*/
}
.corporate-inner span:nth-child(3) {
    background-image: url(../images/starpurple05.png);
    position: absolute;
    top: 40px;
    width: 6px;
    height: 6px;
    background-repeat: no-repeat;
    right: 56px;
    background-size: cover;
    transition: 0.5s;
   /* animation: blink3 2s linear infinite;*/
}
.corporate-inner span:nth-child(4) {
    background-image: url(../images/starpurple05.png);
    position: absolute;
    top: 65px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    right: 30px;
    background-size: cover;
    transition: 0.7s;
   /* animation: blink4 2s linear infinite;*/
}
.corporate-inner span:nth-child(5) {
    background-image: url(../images/starpurple05.png);
    position: absolute;
    bottom: 0px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    right: 30px;
    background-size: cover;
    transition: 1s;
    /*animation: blink5 2s linear infinite;*/
}
.speaker-img-box {
    position: relative;
    width: max-content;
    width: -moz-max-content;
    width: -o-max-content;
    width: -webkit-max-content;
    margin: 0 auto;
}
img.media-imge {
    position: absolute;
    left: 0;
    width: 110px;
    bottom: -13px;
    right: 0;
    margin: 0 auto;
}
.speaker-img-box span:nth-child(1){
    right: 65px;
    background-image: url(../images/line01.png);
    position: absolute;
    top: 71px;
    width: 10px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.7s;
    /*animation: blink1 2s linear infinite;*/
}
.speaker-img-box span:nth-child(2){
    background-image: url(../images/line02.png);
    position: absolute;
    top: 81px;
    width: 15px;
    height: 12px;
    background-repeat: no-repeat;
    right: 54px;
    background-size: contain;
    transition: 0.7s;
    /*animation: blink2 2s linear infinite;*/
}
.speaker-img-box span:nth-child(3){
    background-image: url(../images/line03.png);
    position: absolute;
    bottom: 47px;
    width: 12px;
    height: 10px;
    background-repeat: no-repeat;
    right: 54px;
    transition: 0.7s;
    /* animation: blink3 2s linear infinite; */
    background-size: contain;
}


/*Text stylee animation*/
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.clip span {
  display: inline-block;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}



/*About us page CSS*/
.blue-background{
    background-color: #d7f1ff;
    padding: 10px 0;
}
section.about-banner {
    background-image: url(../images/about-banner.png);
    padding: 40px 0;
    background-repeat: no-repeat;
}
section.about-banner h1 {
    color: #fff;
    text-align: center;
    font-size: 47px;
    margin: 0;
    font-family: "Monsterrat-med";
    font-weight: 600;
    text-transform: uppercase;
}
.mission-box h2 {
    text-transform: uppercase;
    color: #242424;
    font-size: 25px;
    font-family: "Monsterrat-regular";
    font-weight: 600;
    margin: 0;
    padding: 0 0 15px;
}

.mission-box h2 span {
    color: #00acee;
}

.mission-box p {
    font-size: 17px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    color: #242424;
    margin: 0;
    padding: 15px 0 0;
}

.mission-box p span {
    font-family: "Monsterrat-bold";
}
section.about-mission-sec {
    padding: 140px 0 100px;
}
.mission-img-box {
    position: relative;
}

.mission-img-box img {
    position: absolute;
    width: 100%;
    right: -15px;
    object-fit: cover;
    object-position: bottom;
    height: 460px;
    padding-left: 12%;

}

.pl-custom {
    padding: 0 0 0 20%;
}
.min-hei {
    min-height: 620px;
}
.pl-11 {
    padding-left: 7.5%;
}
.different-img-box img {
    margin-left: -15px;
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    height: 460px;
    z-index: 100;
}
.pr-11 {
    padding-right: 15%;
}
.different-img-box::before {
    position: absolute;
    content: "";
    width: 250px;
    height: 250px;
    border: 4px solid #00acee;
    top: -30px;
    right: -15px;
    z-index: 99;
}

.different-img-box {
    position: relative;
}
.mission-img-box1 {
    float: right;
    position: relative;
    width: 100%;
}

.mission-img-box1::before {
    position: absolute;
    content: "";
    width: 270px;
    height: 270px;
    border: 4px solid #00acee;
    top: -33px;
    left: -20px;
    z-index: 99;
}

.mission-img-box1 img {
    float: right;
    margin-right: -15px;
    z-index: 100;
    position: relative;
    width: 100%;
}
.pt-50 {
    padding-top: 90px;
}
.pr-custom {
    padding-right: 9%;
}
section.front-office {
    background-color: #fbfbfb;
    padding: 100px 0;
}

section.front-office h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-family: "Monsterrat-light";
    margin: 0;
    padding-bottom: 150px;
}

section.front-office h2 span {
    font-family: "Monsterrat-semibold";
}

.inner-full-box {
    background-color: #fff;
    width: 100%;
    position: relative;
    padding: 0 35px;
    min-height: 500px;
    z-index: 100;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
}

.inner-full-box img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    object-position: bottom left;
    margin: -20px 0 35px -55px;
    position: relative;
    z-index: 100;
}

.inner-full-box p {
    font-size: 18px;
    font-family: "Monsterrat-light";
    text-align: center;
}

.inner-full-box h5 {
    text-align: center;
    font-size: 18px;
    font-family: "Monsterrat-regular";
    color: #000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 65px;
    text-transform: uppercase;
        font-weight: 600;
}

.inner-full-box h6 {
    text-align: center;
    font-family: "Monsterrat-regular";
    font-size: 15px;
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    text-transform: uppercase;
        font-weight: 600;
}
.outer-front-box {
    position: relative;
    z-index: 100;
}

.outer-front-box::after {
    position: absolute;
    content: "";
    width: 220px;
    height: 220px;
    border: 4px solid #00acee;
    top: -45px;
    left: -48px;
    z-index: 99;
}
.pt-150{
    padding-top: 150px;
}
section.design-office {
    background-color: #00acee;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

section.design-office h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    padding-bottom: 50px;
    font-family: "Monsterrat-light";
}

section.design-office h2 span {
    font-family: "Monsterrat-semibold";
}

section.design-office p {
    text-align: center;
    color: #fff;
    font-family: "Monsterrat-light";
    font-size: 22px;
    padding-bottom: 75px;
    margin: 0;
}

section.design-office p span {
    font-family: "Monsterrat-semibold";
}

section.design-office img {
    width: 100%;
}

section.design-office::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -65px;
    background-image: url(../images/left-back.png);
    z-index: 99;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 20%;
}
section.design-office::after {
    content: "";
    position: absolute;
    right: 0px;
    top: -130px;
    background-image: url(../images/right-back.png);
    z-index: 99;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: top right;
}
section.designprofit-sec {
    padding: 100px 0;
}

section.designprofit-sec h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    margin: 0;
    padding: 0 0 120px;
}

section.designprofit-sec h2 span {
    font-family: "Monsterrat-semibold";
}
.af-tabs ul.nav.nav-tabs li.active a {
    border-bottom: 2px solid #80d5f7;
}
.af-tabs ul.nav.nav-tabs {
    border: none;
    padding: 0px 0 35px 0;
}
.af-tabs ul.nav.nav-tabs li {
    padding: 0 30px 0 0px;
}
.af-tabs ul.nav.nav-tabs li a {
    border: none;
    color: #000;
    font-family: "Monsterrat-med";
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 0px 5px;
}
.tab-content p {
    font-family: "Monsterrat-light";
    font-size: 19px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 15px;
}

.af-tabs ul.nav.nav-tabs li a:hover {
    background: transparent;
    text-decoration: none;
    /* border-bottom: 2px solid #80d5f7; */
}
.af-tabs ul.nav.nav-tabs li a:hover::before{
    width: 100%;
    transition: all .2s ease-in-out;
} 
 .af-tabs ul.nav.nav-tabs li a:hover::after{
    width: 100%;
    transition: all .2s ease-in-out;
 }
 .af-tabs ul.nav.nav-tabs li.active a:hover::before{
    width: 0%;
} 
 .af-tabs ul.nav.nav-tabs li.active a:hover::after{
    width: 0%;
 }
.af-tabs ul.nav.nav-tabs li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0%;
    background: #80d5f7;
    transition: all .2s ease-in-out;
}
.af-tabs ul.nav.nav-tabs li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: #80d5f7;
    transition: all .2s ease-in-out;
}
.contact-background {
    margin: 0 -15px;
    background-color: #00acee;
    padding: 80px 0 40px;
    position: relative;
    float: right;
    overflow: hidden;
}

.contact-background::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -70px;
    background-image: url(../images/left-back.png);
    z-index: 1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 38%;
    background-position: bottom left;
    font-weight: 600;
}

.inner-contact-box {
    width: 70%;
    float: right;
    position: relative;
    z-index: 10;
    padding: 0 60px 0 0;
}

.inner-contact-box h2 {
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Monsterrat-light";
    margin: 0;
    padding: 0 0 50px;
}

.inner-contact-box h2 span {
    font-family: "Monsterrat-semibold";
}

.inner-contact-box p {
    color: #fff;
    font-size: 18px;
    font-family: "Monsterrat-light";
    margin: 0;
    padding-bottom: 15px;
}

.inner-contact-box p span {
    font-family: "Monsterrat-semibold";
}

.inner-contact-box form {
    padding: 30px 0 0 0;
}

.inner-contact-box form input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: "Monsterrat-light";
    font-size: 18px;
    height: 40px;
    margin: 0px 0 20px;
    font-weight: 600;
}

.inner-contact-box form textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: "Monsterrat-light";
    font-size: 18px;
    height: 115px;
    margin: 0 0 20px;
    font-weight: 600;
}
.btn-start-box button {
    color: #000034;
    font-size: 17px;
    font-family: "Monsterrat-med";
    position: relative;
    border: 2px solid #000034;
    padding: 8px 25px;
    text-transform: uppercase;
    background-color: transparent;
}

.btn-start-box {
    padding: 25px 0 0;
}

.btn-start-box button:hover {
    background-color: #000034;
    color: #fff;
}
.inner-contact-box form textarea:focus {
    outline: none;
    background-color: transparent;
}
.inner-contact-box form input:focus {
    outline: none;
    background-color: transparent;
}
.inner-contact-box form input::placeholder{
    color: #fff;
}
.inner-contact-box form textarea::placeholder{
    color: #fff;
}
.af-map {
    margin: 0 -15px;
}
section.main-footer.mt-5mi {
    margin-top: -5px;
}
.af-map iframe {
    height: 657px;
    width: 100%;
}
/*End here*/



/*FAQ PAGE DESIGN*/
section.faq-banner {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-image: url(../images/faq-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
section.faq-banner h1 {
    color: #fff;
    font-size: 35px;
    font-family: "Monsterrat-med";
    text-transform: uppercase;
}
section.faq-tabs .nav.nav-tabs li {
    width: 25%;
    padding: 0;
    text-align: center;
}
section.faq-tabs ul.nav.nav-tabs li.active a {
    background: transparent;
    border: none;
    color: #3390e9;
}

section.faq-tabs ul.nav.nav-tabs li.active a h4 {
    font-size: 20px;
    font-family: "Monsterrat-med";
    margin: 0;
    padding: 10px 0;
}

section.faq-tabs ul.nav.nav-tabs li.active a::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background: #00acee;
    transition: all .2s ease-in-out;
}

section.faq-tabs ul.nav.nav-tabs li.active a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #00acee;
    transition: all .2s ease-in-out;
}

section.faq-tabs ul.nav.nav-tabs li a {
    background: transparent;
    border: none;
    color: #1e1255;
    width: max-content;
    margin: 0 auto;
}

section.faq-tabs ul.nav.nav-tabs li a h4 {
    font-size: 20px;
    font-family: "Monsterrat-med";
    margin: 0;
    padding: 10px 0;
}

section.faq-tabs ul.nav.nav-tabs li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0%;
    background: #00acee;
    transition: all .2s ease-in-out;
}

section.faq-tabs ul.nav.nav-tabs li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: #00acee;
    transition: all .2s ease-in-out;
}

section.faq-tabs ul.nav.nav-tabs li a:hover::before {
    width: 100%;
    transition: all .2s ease-in-out;
}
section.faq-tabs ul.nav.nav-tabs li a:hover::after {
    width: 100%;
    transition: all .2s ease-in-out;
}
.af-img-boxe {
    width: 100%;
    min-height: 80px;
}
section.faq-tabs {
    padding: 100px 0;
}
section.faq-tabs .nav.nav-tabs {
    border: none;
}

.panel-heading .accordion-toggle:after {
    content: "";
    float: right;
    background-image: url(../images/right-angle.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
        position: absolute;
    right: -30px;
    top: 0;
    bottom: 0;
    margin: auto;         
}
.panel-heading .accordion-toggle.collapsed:after {
    background-image: url(../images/back-angle.png);   
}
.faq-logo-tab {
    background-color: #fdfdfd;
    padding: 50px 60px;
    margin: 100px 0 0;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
}

.faq-logo-tab h2 {
    text-align: center;
    color: #414141;
    font-size: 30px;
    font-family: "Monsterrat-regular";
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 30px;
}

.faq-logo-tab a {
    font-size: 18px;
    color: #000;
    font-family: "Monsterrat-med";
    position: relative;
    padding-left: 50px;
    display: block;
}
a.accordion-toggle span {
    border-bottom: 1px solid #000;
    padding-bottom: 1px;
    line-height: 30px;
}
a.accordion-toggle.collapsed span {
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
}
.faq-logo-tab .panel-default>.panel-heading {
    background-color: transparent;
    border: none;
    padding-left: 0;
}

.faq-logo-tab .panel-default {
    border: none;
    background-color: transparent;
    padding: 20px 0 20px;
    border-bottom: 2px solid #dfdfdf;
    border-radius: 0;
    box-shadow: none;
}

.faq-logo-tab a:hover , .faq-logo-tab a:focus {
    text-decoration: none;
}

.faq-logo-tab a.accordion-toggle.collapsed::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: #414141;
    border-radius: 50%;
    margin:  auto;
}

.faq-logo-tab a.accordion-toggle::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: #00acee;
    border-radius: 50%;
    margin: auto;
}
.faq-tabs .faq-logo-tab .panel .panel-body {
    border: none;
    font-size: 17px;
    color: #414141;
    font-family: "Monsterrat-light";
    padding: 5px 15px 0;
}
.faq-tabs .faq-logo-tab .panel .panel-body p {
    font-size: 16px;
    color: #414141;
    font-family: "Monsterrat-light";
    padding-left: 35px;
    padding-right: 30px;
    padding-bottom: 10px;
}
/*End here*/


/*Testimonials Page*/
.image-grid__item h6 {
    font-size: 18px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    margin: 0;
    padding-bottom: 20px;
    color: #000;
}

.image-grid__item p {
    font-family: "Monsterrat-light";
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #000;
}
/*End*/

/*Select Design page*/
.af-design-box {
    width: 100%;
    float: left;
    position: relative;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
    transform: scale(1);
}
.af-design-box:hover {
    transform: scale(1.07);
    cursor: pointer;
}
.design-img img {
    width: 100%;
    object-fit: cover;
    min-height: 300px;
    object-position: left;
}

.design-footer {
    background-color: #fff;
    width: 100%;
    float: left;
    text-align: center;
    padding: 25px 0;
    box-shadow: inset 0px 5px 20px 0px rgba(0,0,0,0.02);
}

.design-footer h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
    color: #000;
    font-family: "Monsterrat-med";
}

.price-tag {
    position: absolute;
    right: -6px;
    top: -5px;
}

section.design-body {
    padding: 100px 0;
}

.price-tag p {
    transform: rotate(43deg);
    padding: 0 20px 0 26px;
    width: 150px;
    position: absolute;
    top: 30px;
    right: -35px;
    overflow: hidden;
    color: #fff;
    font-family: "Monsterrat-med";
    font-size: 16px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-100{
    margin-bottom: 100px;
}
.come-in {
  transform: translateY(150px);
  opacity: 0;
  animation: come-in 1s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
  opacity: 1;
}

@keyframes come-in {
  to { transform: translateY(0);
        opacity: 1;
   }
}

/*End*/

/*-------Login box-----*/
.af-login-box {
    padding: 15px 15px 5px;
    width: 320px;
    float: left;
}

.navbar-nav>li>.dropdown-menu {
    border: 0;
    border-radius: 4px;
    padding: 0;
}

.af-input-boxes input {
    width: 100%;
    margin-bottom: 15px;
    height: 45px;
    padding: 0 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    font-family: "Monsterrat-light";
    font-size: 13px;
    font-weight: 600;
    outline: 0;
    box-shadow: none;
    color: #242424;
}

.af-input-boxes input[type="submit"] {
    font-size: 15px;
    background-color: #000034;
    color: #fff;
    border: 1px solid transparent;
}

.af-input-boxes input[type="submit"]:hover {
    border-color: #000034;
    color: #000034;
    background-color: #fff;
}

.af-input-boxes input::placeholder {
    color: rgba(57,57,57,0.35);
}

.af-login-box .col-xs-6 {
    padding: 0;
}

.af-login-box label {
    font-size: 12px;
    color: #757575;
    font-family: "Monsterrat-light";
    font-weight: 600;
    position: relative;
    padding-left: 18px;
}

.af-login-box label input[type="checkbox"] {
    margin: 0 0;
    position: absolute;
    left: 0;
    top: 3px;
}

.header-sec .nav.navbar-nav .af-login-box a.af-forget {
    font-size: 11px;
    color: #2fbdf1;
    float: right;
    padding: 5px 0 0;
}

.header-sec .nav.navbar-nav .af-login-box a.af-forget::before {
    display: none;
}

.header-sec .nav.navbar-nav .af-login-box a.af-forget::after {
    display: none;
}

ul.login-with {
    width: 100%;
    float: left;
    list-style: none;
    padding: 15px 0 0;
}

ul.login-with li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

ul.login-with li:last-child {
    border-color: transparent;
}

.header-sec .nav.navbar-nav ul.login-with li a {
    font-size: 13px;
    color: #757575;
    text-transform: initial;
}

.header-sec .nav.navbar-nav ul.login-with li a i {
    font-size: 15px;
    padding: 0 10px 0 0;
}

.header-sec .nav.navbar-nav ul.login-with li a::before {
    display: none;
}

.header-sec .nav.navbar-nav ul.login-with li a::after {
    display: none;
}

.header-sec .nav.navbar-nav ul.login-with li a:hover {
    text-decoration: none;
    color: #484848;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}

/*-----End-----*/


section.brief-body {
    background-color: #fff;
    padding: 55px 0;
}

section.brief-body h2 {
    font-size: 21px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-family: "Monsterrat-light";
    color: #000034;
}



section.faq-banner.brief {
    background-image: url(../images/breif-banner.png);
}
.brief-body h3 {
    margin: 0;
    text-transform: uppercase;
    color: #000034;
    font-family: "Monsterrat-light";
    font-size: 25px;
    font-weight: 600;
    padding: 40px 15px 0px;
    position: relative;
}

.brief-body h3 span {
    font-family: "Monsterrat-semibold";
}

.af-brief-form {
    padding: 40px 10px 0;
}

.af-brief-form input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    outline: 0;
    color: #242424;
    box-shadow: none;
}

.af-brief-form input::placeholder {
    color: #ccc;
}

.af-brief-form textarea::placeholder {
    color: #ccc;
}

.af-brief-form textarea {
    width: 100%;
    height: 120px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 10px 0;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    outline: 0;
    color: #242424;
    box-shadow: none;
}
section.brief-body img {
    width: 100%;
    padding: 35px 0;
}   
.plr-5{
    padding:0 5px;
}
.af-brief-form h4 {
    font-size: 21px;
    font-family: "Monsterrat-light";
    font-weight: 600;
}

.af-brief-form select {
    width: 100%;
    height: 40px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    padding: 0 10px 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.plr-0{
    padding: 0;
}
.brief-body h3.before::before {
    content: "";
    width: 300px;
    height: 2px;
    background-color: #000024;
    position: absolute;
    bottom: -5px;
}

.brief-body h3.before::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000024;
    bottom: -10px;
    left: 38%;
}
.input-fields input {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    outline: 0;
    color: #242424;
    box-shadow: none;
}

.brief-body p {
    font-size: 22px;
    color: #242424;
    font-family: "Monsterrat-light";
    font-weight: 600;
}
.pt-40 {
    padding: 40px 15px 0;
}
.pt-110{
    padding-top: 110px;
}
.af-red {
    background-color: #f00;
}
.brief-body p.af-inline {
    display: inline-block;
    margin: 0;
}

.color-represent {
    padding: 10px 15px
}
.pb-30 {
    padding-bottom: 30px !important;
}
.af-color{
    width: 80px;
    height: 20px;
    display: inline-block;
    margin: 5px 30px 0 0px;
    float: left;
}
p.af-inline.wd-20 {
    width: 17%;
    float: left;
}
.af-orange{
    background-color: #f58220;
}
.af-yellow{
    background-color: #fff200 ;
}
.af-green{
    background-color: #00a651;
}
.af-blue{
    background-color: #00aeef ;
}
.af-purple{
    background-color: #812990 ;
}
.af-white{
    border:1px solid #ccc;
    background-color: #fff;
}
.af-gray{
    background-color: #e1e1e1 ;
}
.af-black{
    background-color: #000 ;
}
.af-brown{
    background-color: #855439 ;
}
.af-pink{
    background-color: #ec008c ;
}
.af-turquoise{
    background-color: #10c8cd ;
}
.brief-body label {
    padding: 5px 45px;
    width: 100%;
    font-size: 19px;
    font-family: "Monsterrat-light";
    position: relative;
    color: #000034;
}

.brief-body label input[type="checkbox"] {
    position: absolute;
    left: 15px;
    top: 5px;
}

.brief-body label input[type="text"] {
    width: 330px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    outline: 0;
    color: #242424;
    box-shadow: none;
}
.af-textareas label {
    padding: 25px 0px;
}

.af-textareas textarea {
    width: 100%;
    height: 160px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 10px 0;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    outline: 0;
    color: #242424;
    box-shadow: none;
}
.af-choose h5 {
    width: 100%;
    font-size: 19px;
    font-family: "Monsterrat-light";
    position: relative;
    color: #000034;
    font-weight: 600;
    margin: 0;
    padding-bottom: 20px;
    line-height: 28px;
}
.af-subm-btn input[type="submit"] {
    color: #000034;
    font-size: 17px;
    font-family: "Monsterrat-med";
    position: relative;
    border: 2px solid #000034;
    padding: 10px 60px;
    text-transform: uppercase;
    background-color: transparent;
}

.af-subm-btn input[type="submit"]:hover {
    background-color: #000034;
    color: #fff;
}
.af-subm-btn input[type="submit"] {
    color: #000034;
    font-size: 17px;
    font-family: "Monsterrat-med";
    position: relative;
    border: 2px solid #000034;
    padding: 10px 60px;
    text-transform: uppercase;
    background-color: transparent;
}

.af-subm-btn input[type="submit"]:hover {
    background-color: #000034;
    color: #fff;
}

.af-choose-file input {
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.af-choose-file {
    color: #000034;
    font-size: 17px;
    font-family: "Monsterrat-med";
    position: relative;
    border: 2px solid #000034;
    padding: 10px 30px;
    text-transform: uppercase;
    background-color: transparent;
    width: 200px;
}
section.brief-body .layout-imgs img {
    width: auto;
    padding: 0 10px 0 0;
}

section.brief-body .layout-imgs {
    display: inline-block;
    width: 100%;
}
.af-gmail-style label {
    display: none;
}
/*
.af-brief-form input:focus ~ label {
    top: -8px !important;
    left: 35px !important;
    background-color: #fff !important;
    font-size: 14px !important;
    color: #000034 !important;
    font-weight: bold;
    display: inline-block;
    width: auto;
    padding: 0 10px;
}
.af-brief-form textarea:focus ~ label {
    top: -8px !important;
    left: 35px !important;
    background-color: #fff !important;
    font-size: 14px !important;
    color: #000034 !important;
    font-weight: bold;
    display: inline-block;
    width: auto;
    padding: 0 10px;
}
.af-brief-form input.focus ~ label{
    top: -8px !important;
    left: 35px !important;
    background-color: #fff !important;
    font-size: 14px !important;
    color: #000034 !important;
    font-weight: bold;
    display: inline-block;
    width: auto;
    padding: 0 10px;
}
.af-brief-form textarea.focus ~ label{
    top: -8px !important;
    left: 35px !important;
    background-color: #fff !important;
    font-size: 14px !important;
    color: #000034 !important;
    font-weight: bold;
    display: inline-block;
    width: auto;
    padding: 0 10px;
}
.af-brief-form input:placeholder {
    display: block !important;
    opacity: 1;
}
.af-brief-form input.focus:placeholder {
    display: none !important;
    opacity: 0;
    color: #fff !important;
}*/
.af-gmail-style {
    position: relative;
}

.af-brief-form label {
    position: absolute;
    pointer-events: none;
    font-family: "Monsterrat-Light";
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    color: #999;
    font-size: 18px;
    font-weight: normal;
    left: 35px;
    top: 15px;
    font-weight: 600;
}
.af-brief-form input.error {
    border-color: #f00;
    color: #f00;
}
.brief-body .file-name p {
    font-size: 16px;
    padding: 10px 0;
}
/*End*/

/*-----Business Card Design------*/

section.faq-banner.business-card {
    background-image: url(../images/business-card-banner.png);
}
section.business-card-body h2 {
    color: #000034;
    font-size: 18px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    margin: 0;
    padding: 10px 0;
}

section.business-card-body {
    padding: 45px 0;
}

.load-box {
    background-color: #fff;
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

.load-box.full {
    background-color: #00adef;
    border-color: #00adef;
}

.business-filling {
    padding-top: 50px;
}

.business-filling h3 {
    color: #393939;
    font-size: 23px;
    font-weight: 600;
    font-family: "Monsterrat-light";
    margin: 0;
    padding: 0px 0 40px;
}

.business-filling h4 {
    color: #393939;
    font-size: 18px;
    font-weight: 600;
    font-family: "Monsterrat-light";
    margin: 0;
    padding: 0 0 40px;
}

.business-filling a {
    color: #1155cc;
    font-size: 18px;
    font-weight: 600;
    font-family: "Monsterrat-light";
    margin: 0;
    padding: 0 0 30px;
}

.card-mockup {
    width: 100%;
    padding-top: 100px;
}

.card-mockup img {
    width: 100%;
}

.business-form-box h3 {
    margin: 0;
    text-transform: uppercase;
    color: #000034;
    font-family: "Monsterrat-light";
    font-size: 25px;
    font-weight: 600;
    padding: 40px 0;
    position: relative;
}

.business-form-box h3 span {
    font-family: "Monsterrat-semibold";
}

.business-form-box {
    padding: 30px 0 0;
}

.af-cards-input label {
    width: 100%;
    font-size: 19px;
    font-family: "Monsterrat-light";
    position: relative;
    color: #242424;
    margin: 0;
    padding: 0 0 10px;
}

.af-cards-input input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    outline: 0;
    color: #242424;
    box-shadow: none;
}

.af-textareas label {
    width: 100%;
    font-size: 18px;
    font-family: "Monsterrat-light";
    position: relative;
    color: #000034;
    margin: 0;
    padding: 0 0 10px;
}

.af-cards-input {
    width: 100%;
    padding: 0 0 10px;
}

.business-form-box h4 {
    font-size: 21px;
    font-family: "Monsterrat-light";
    font-weight: 600;
}

.business-form-box select {
    width: 100%;
    height: 40px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    padding: 0 10px 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.pb-20 {
    padding-bottom: 20px;
}

.af-card-file {
    width: 100%;
    float: left;
    padding: 30px 0px;
}

.af-card-file p {
    font-size: 17px;
    color: #242424;
    font-family: "Monsterrat-light";
    font-weight: 600;
}

.pt-20 {
    padding-top: 20px;
}
.pot-40 {
    padding-top: 50px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #dddddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 20px;
  border: 2px solid #ccc;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #008eff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.2);
  position: relative;
}
.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #008eff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.2);
  position: relative;
}
.range-box label {
    font-size: 19px;
    color: #242424;
    font-family: "Monsterrat-light";
    font-weight: 600;
}
.af-range-slider {
    padding: 15px 0 40px;
}

.range-box {
    padding: 5px 0;
}
.af-choose-card input {
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.af-choose-card {
    color: #fff;
    font-size: 17px;
    font-family: "Monsterrat-med";
    position: relative;
    padding: 8px 30px;
    text-transform: uppercase;
    background-color: transparent;
    width: 100%;
    background: #fdbc51;
    background: -moz-linear-gradient(left, #fdbc51 30%, #f99e1c 100%);
    background: -webkit-linear-gradient(left, #fdbc51 30%,#f99e1c 100%); 
    background: linear-gradient(to right, #fdbc51 30%,#f99e1c 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdbc51', endColorstr='#f99e1c',GradientType=1 ); 
    text-align: center;
    border-radius: 4px;
    margin-top: 15px;
}

/*-------End----------*/

/*Banner-Briefing page*/
.load-box p {
    text-align: center;
    font-family: "Monsterrat-light";
    font-weight: 600;
    margin: 0;
    padding: 5px 0 0;
    color: #fff;
}

.redfull {
    background-color: #eee;
    border:1px solid #663399;
    
}

.redfull.animation{
    visibility: visible;
    background-color: #663399;
    -webkit-animation: expand-inline-width 1s ease-out;
    -moz-animation: expand-inline-width 1s ease-out;
    -o-animation: expand-inline-width 1s ease-out;
    animation: expand-inline-width 1s ease-out;
}
.full.animation{
    visibility: visible;
    background-color: #00adef;  
    -webkit-animation: expand-inline-width 1s ease-out;
    -moz-animation: expand-inline-width 1s ease-out;
    -o-animation: expand-inline-width 1s ease-out;
    animation: expand-inline-width 1s ease-out;
}



@keyframes expand-inline-width {
    0% {
    width: 0px; 
    }
    100% {
        width: 100%;
    }
}
.range-box label.title {
    padding: 0 0 25px;
}
.chck-label label {
    padding: 5px 0 0 40px;
    width: 100%;
    font-size: 19px;
    font-family: "Monsterrat-light";
    position: relative;
    color: #000034;
}

.chck-label input[type="checkbox"] {
    position: absolute;
    left: 0px;
    top: 10px;
}

.chck-label input[type="text"] {
    width: 330px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    outline: 0;
    color: #242424;
    box-shadow: none;
}
.pob-30{
    padding-bottom: 30px;
}
.business-filling .card-mockup img{
    display: none;
}
.business-filling .card-mockup {
    display: none;
}
.af-inner-box {
    width: 90%;
    padding: 0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    margin: auto;
}

.main-img img {
    width: 100%;
}

.laptop-img {
    background-color: #fdfdfd;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0px auto 0;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
}
.main-img {
    padding: 40px 0 0;
    background-color: #EDEDED;
}
.laptop-img img {
    margin-top: 30px;
}

.af-inner-footer {
    text-align: center;
    padding: 30px 0;
}

.af-inner-footer h2 {
    margin: 0;
    color: #414141;
    font-size: 30px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    padding: 0 0 10px;
    text-transform: uppercase;
}

.af-inner-footer h3 {
    margin: 0;
    color: #414141;
    font-size: 25px;
    font-family: "Monsterrat-light";
    font-weight: 600;
    padding: 0 0 10px;
    text-transform: uppercase;
}

.af-inner-footer h4 {
    font-family: "Monsterrat-med";
    font-size: 35px;
    margin: 0;
    font-weight: 600;
    color: #414141;
    padding: 0 0 10px;
    text-transform: uppercase;
}
section.pricing-body {
    padding: 50px 0 85px;
}

.custom-dropdown {
    text-align: center;
    padding: 10px 0 30px;
}

.custom-dropdown label {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Monsterrat-med";
    color: #000;
}

.custom-dropdown select {
    color: #000034;
    border: 2px solid #000034;
    font-size: 25px;
    font-family: "Monsterrat-med";
    margin-left: 30px;
    text-transform: uppercase;
    padding: 10px 60px 10px 10px;
    -webkit-appearance: none;
}
.af-select {
    display: inline-block;
    position: relative;
}

.af-select i {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 20px;
}
.faq-pricing .faq-logo-tab {
    margin: 0;
}
.faq-pricing .panel.panel-default {
    width: 65%;
}
section.faq-pricing .faq-logo-tab h2 {
    text-align: left;
    padding: 0;
}
.faq-pricing .panel-heading .accordion-toggle:after{
    display: none;
}
section.faq-pricing {
    padding: 0px 0 75px;
}
section.faq-pricing .tab-content {
    width: 95%;
    margin: auto;
}
/*-------End----------*/


/*--------NEW-DROPDOWN---------*/

.dropdown-menu.af-new-drop {
    width: 540px;
    padding: 10px !important;
}
.header-sec .nav .dropdown:hover .dropdown-menu.af-new-drop {
    display: block;
}
.dropdown-menu.af-new-drop::after {
    position: absolute;
    top: -8px;
    content: '';
    right: 17%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}

.dropdown-menu.af-new-drop li {
    width: 32%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 5px;
    margin: 3px;
}
.dropdown-menu.af-new-drop li:hover {
    background-color: #eee;
}
ul.dropdown-menu.af-new-drop li a::before {
    display: none;
}

ul.dropdown-menu.af-new-drop li a::after {
    display: none;
}   
ul.dropdown-menu.af-new-drop li a {
    display: inline-block;
    width: 100%;
}

ul.dropdown-menu.af-new-drop li a .left-cont {
    width: 60%;
    float: left;
    display: inline-block;
}

ul.dropdown-menu.af-new-drop li a .right-img {
    width: 40%;
    float: right;
    display: inline-block;
    text-align: right;
}

ul.dropdown-menu.af-new-drop li a .right-img img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 15px;
        object-fit: cover;
    object-position: center;
}

ul.dropdown-menu.af-new-drop li a .left-cont h5 {
    font-size: 14px;
    font-family: "Monsterrat-med";
    margin: 0;
    padding: 10px 0 5px;
}

ul.dropdown-menu.af-new-drop li a .left-cont h6 {
    font-size: 13px;
    font-family: "Monsterrat-med";
    margin: 0;
}

.dropdown-menu.af-new-drop li a {
    padding: 0 !important;
}

.mobile-icons{
        display: none;
    }

/*-------End----------*/

@media(max-width: 1870px){
    .af-map iframe {
    height: 682px;
    }
}@media(max-width: 1453px){
    .af-map iframe {
    height: 707px;
    }
}
@media(max-width: 1400px){
    img.banner-img {
    position: absolute;
    top: 222px;
    width: 570px;
    right: 0px;
    }
    .pr-custom {
    padding-right: 4%;
    }
    .pl-custom {
    padding-left: 10%;
    }
    .outer-front-box::after {
    left: -15px;
    }
    .inner-full-box {
    width: 85%;
    margin: 0 auto;
    }
    .af-map iframe{
        width: 100%;
        height: 682px;
    }
    .inner-contact-box {
    width: 85%;
    }
}
@media(max-width:1199px){
    section.graphic-design-sec {
    padding: 80px 0 60px;
    }
	.graphic-img-box img {
    width: 100%;
	}
	.ask-inline {
    text-align: center;
	}
	.ask-inline a{
		float: none;
	}
	.business-content img {
    width: 100%;
	}
	.mt-90 {
    margin-top: 20px;
	}
	.mt-60 {
    margin-top: 0px;
	}
	.graphic-content h2 {
    font-size: 22px;
    padding: 0 0 0px;
	}
	.home-banner h1 {
    font-size: 25px;
    margin-top: 10%;
    margin-bottom: 45px;
	}
	.banner-half {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0px 0 75px;
	}
	.home-banner {
    padding: 100px 0px 65px;
   	height: unset;
    background-color: #d7f1ff;
	}
	img.banner-img {
    position: absolute;
    top: 100px;
    right: 0px;
    }
	.banner-carousel{
		top: unset;
		left: unset;
		right: unset;
	}
    .banner-carousel {
    position: relative;
    top: 160px;
    right: 0;
    overflow-x: hidden;
    width: 40%;
    display: inline-block;
    float: left;
    }
    .banner-half {
    display: inline-block;
    margin-top: 10%;
    width: 60%;
    float: left;
    }
    img.banner-img {
    width: 400px !important;
    }
    /*about page*/
    .inner-full-box h6 {
    font-size: 14px;
    bottom: 35px;
    }
    .inner-full-box h5 {
    font-size: 16px;
    bottom: 70px;
    }
    .inner-full-box p {
    font-size: 16px;
    }
    .inner-full-box{
        min-height: 570px;
    }
    .tab-content p {
    font-size: 16px;
    }
    .af-tabs ul.nav.nav-tabs li a {
    font-size: 17px;
    }
    .af-map iframe {
    height: 707px;
    }
    /*End here*/

    /*Design page*/
    .design-img img {
    object-position: center;
    }
    /*End here*/
    .dropdown-menu.af-new-drop {
    left: 0;
    right: auto;
    }
    .dropdown-menu.af-new-drop::after {
    left: 15%;
    }   
}
@media(max-width: 991px){
    img.banner-img {
    position: absolute;
    top: 66px;
    width: 570px;
    right: 0px;
    }
    .header-sec .nav.navbar-nav li a {
    font-size: 13px;
    padding: 10px 5px;
    display: inline-block;
    }
    img.logo-img {
    width: 140px;
    }
    .graphic-content {
    padding: 40px 0 40px 0px;
    text-align: center;
    }
    .graphic-img-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    }
    .design-img-box img {
    object-fit: cover;
    }
    section.graphic-design-sec {
    padding: 0px 0;
    }
    .business-part-sec h2 {
    padding-bottom: 30px;
    font-size: 20px;
    }
    .business-part-sec p {
    font-size: 16px;
    padding-bottom: 0px;
    }
    .ask-inline p {
    display: block;
    font-size: 16px;
    padding-bottom: 25px;
    }
    section.business-story-sec h2 {
    font-size: 20px;
    }
    section.business-story-sec p {
    font-size: 16px;
    }
    .testimonial-box h6 {
    font-size: 14px;
    }
    .testimonial-box p {
    font-size: 13px;
    }
    .notes-style-box5 {
    top: 315px;
    left: 33%;
    }
    .notes-style-box6 {
    top: 265px;
    }
    .notes-style-box2 {
    left: 33%;
    }
    .client-testimonials {
    background-color: #eff0f1;
    padding: 25px 0;
    }
    .full-testi-box {
    height: 650px;
    }
    .client-testimonials h2 {
    margin-bottom: 35px;
    font-size: 22px;
    }
    .work-boxes p {
    padding: 0px 0px 15px 0;
    }
    how-work-sec .work-boxes h2 {
    font-size: 20px;
    }
    .work-boxes ol li {
    padding: 0 0px 10px 0;
    }
    .banner-carousel{
        width:50%;
        float: left;
    }
    img.banner-img{
        width: 350px !important;
    }
    .home-banner h1 {
    font-size: 18px;
    margin-top: 20%;
    margin-bottom: 45px;
    text-align: left;
    line-height: 30px;
    }
    .banner-half {
    display: block;
    width: 50%;
     text-align: left; 
    padding: 0px 0 75px;
    float: left;
    }
    .home-banner a {
    font-size: 14px;
    }
    img.banner-img {
    position: absolute;
    top: 107px;
    width: 570px;
    right: 0px;
    }
    .graphic-img-box {
    width: 50%;
    text-align: right;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    }
    .design-img-box {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    }
    .nav>li {
    padding-left: 10px;
    padding-right: 0px;
    }
    /*About us page*/
    
    section.about-mission-sec {
    padding: 70px 0 70px;
    }
    .mission-img-box1 {
    width: 80%;
    margin: 100px 0;
    }
    .different-img-box {
    width: 80%;
    }
    .inner-full-box {
    min-height: 460px;
    margin-bottom: 120px;
    }
    .outer-front-box::after {
    left: 10px;
    }
    .pt-150 {
    padding-top: 0;
    }
    section.front-office {
    padding: 100px 0 0px;
    }
    section.designprofit-sec {
    padding: 70px 0 0;
    }
    .pr-tablet {
    padding-right: 10%;
    }
    .inner-contact-box {
    width: 85%;
    float: none;
    margin: 0 auto;
    padding-right: 0;
    }
    .inner-contact-box form input{
        margin-bottom: 40px;
    }
    /*End here*/

    /*Faq page responsive*/

    section.faq-tabs ul.nav.nav-tabs li a h4 {
    font-size: 14px;
    }
    section.faq-tabs ul.nav.nav-tabs li.active a h4 {
    font-size: 14px;
    }

    /*End here*/
    .mbt-50{
        margin-top: 50px;   
    }
    .af-brief-form h4 {
    padding: 0 0 15px;
    }
    section.brief-body img {
    width: 60%;
    }
    .af-center{
        text-align: center;
    }
    .brief-body h3.before::after {
    left: 30.5%;
    }
    .pt-110 {
    padding-top: 30px;
    }
    .brief-body p {
    font-size: 18px;
    }
    section.brief-body h2 {
    padding: 0 0 10px;
    }
    .brief-body h3 {
    padding: 30px 15px 0px;
    font-size: 22px;
    }
    .brief-body h3.before::before {
    width: 260px;
    }
    section.brief-body .layout-imgs img {
    padding: 10px 10px 0 0;
    }
    section.brief-body .layout-imgs {
    padding: 0 15px;
    }
    section.business-card-body h2 {
    font-size: 14px;
    }
    .business-filling h3 {
    font-size: 18px;
    }
    .business-filling h4 {
    font-size: 16px;
    }
    .af-cards-input label {
    font-size: 16px;
    }
    .af-textareas label {
    font-size: 16px;
    }
    .business-form-box h4 {
    font-size: 16px;
    }
    .af-inner-footer h4 {
    font-size: 30px;
    }
    .af-inner-footer h3 {
    font-size: 18px;
    }
    .af-inner-footer h2 {
    font-size: 22px;
    }
    .header-sec .nav.navbar-nav ul.login-with li a {
    padding: 0px;
	}
}
@media(max-width: 767px){
    .mobile-search {
    position: absolute;
    top: 18px;
    right: 75px;
    display: block;
    }
    .af-desktop{
    display: none !important;
    }
    .mobile-search a {
    font-size: 20px;
    color: #000;
    }
    section.business-story-sec {
    padding: 40px 0 70px;
    }
    .business-part-sec {
    background-color: #eff0f1;
    padding: 35px 0 50px;
    }
    .testimonial-box h6 {
    font-size: 12px;
    }
    .testimonial-box p {
    font-size: 11px;
    }
    .notes-style-box4 {
    top: 215px;
    }
    .notes-style-box5 {
    top: 280px;
    }
    .notes-style-box6 {
    top: 240px;
    }
    .how-work-sec .work-boxes h2 {
    text-align: center;
    font-size: 22px;
    }
    .how-work-sec {
    padding: 25px 0 65px;
    }
    .work-boxes {
    text-align: center;
    }
    .pb-30{
        padding-bottom: 30px;
    }
    .work-boxes ol {
    padding-top: 5px;
    padding-bottom: 10px;
    width: 65%;
    margin: 0 auto;
    text-align: justify;
    }
    .footer-contents ul li {
    padding: 0 4px;
    }
    .footer-contents ul li a {
    font-size: 12px;
    }
    img.banner-img {
    width: 310px !important;
    }
    .home-banner h1{
        font-size: 16px;
    }
    .notes-style-box6 {
    top: 445px;
    right: 0;
    }
    .notes-style-box5 {
    top: 375px;
    left: 0;
    }
    .notes-style-box4 {
    top: 230px;
    right: 0;
    left: unset;
    }
    .notes-style-box3 {
    position: absolute;
    top: 175px;
    left: 0;
    }
    .notes-style-box2 {
    left: unset;
    right: 0;
    }
    .testimonial-box {
    width: 45%;
    }
    .navbar-collapse {
    background-color: #bce8ff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    z-index: 9;
    }
    button.navbar-toggle i {
    font-size: 25px;
    }
    .notes-style-box1 {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    }
    .notes-style-box2 {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    }
    .notes-style-box3 {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    }
    .notes-style-box4 {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    }
    .notes-style-box5 {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    }
    .notes-style-box6 {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    }
    .full-testi-box {
    height: unset;
    }
    /*About us page*/

    section.about-banner h1 {
    font-size: 25px;
    }
    .outer-front-box::after {
    width: 200px;
    height: 200px;
    }
    .inner-full-box img {
    width: 165px;
    height: 165px;
    margin: -25px 0 35px -50px;
    }
    section.design-office {
    padding: 50px 0;
    z-index: 999;
    }
    section.design-office::after {
    top: -30px;
    height: -webkit-fill-available;
    }
    section.design-office h2 {
    font-size: 25px;
    padding-bottom: 25px;
    }
    section.design-office p {
    font-size: 16px;
    padding-bottom: 40px;
    }
    section.designprofit-sec h2 {
    font-size: 22px;
    padding: 0 0 45px;
    }
    section.designprofit-sec {
    padding: 45px 0 0;
    }
    .mission-img-box1::before {
    width: 210px;
    height: 210px;
    }
    .inner-contact-box h2 {
    font-size: 25px;
    padding: 0 0 25px;
    }
    .inner-contact-box p {
    font-size: 16px;
    }
    .pr-custom {
    padding-right: 10%;
    }
    /*End here*/

    /*Faq page responsive*/

    section.faq-tabs ul.nav.nav-tabs li a {
    width: auto;
    }
    .faq-logo-tab {
    margin: 40px 0 0;
    padding: 50px 30px;
    }
    section.faq-tabs {
    padding: 60px 0;
    }
    .faq-tabs .faq-logo-tab .panel .panel-body p {
    font-size: 14px;
    }
    .faq-logo-tab a {
    font-size: 16px;
    } 
    .faq-logo-tab h2 {
    font-size: 26px;
    padding-bottom: 10px;
    }  
    /*End here*/

    .af-design-box {
    width: 80%;
    float: left;
    margin: 0px 10% 70px;
    }
    .design-footer {
    float: none;
    }
    .goto-work-box {
    padding: 30px 0 0;
	}
    section.faq-banner h1 {
    font-size: 22px;
    }
    .navbar-nav .dropdown.login .dropdown-menu {
    position: fixed;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #fff;
    border: 0;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .brief-body p {
    font-size: 12px;
    }
    .af-color {
    width: 60px;
    margin: 0px 20px 0 0px;
    }
    .brief-body h3 {
    font-size: 18px;
    }
    .af-brief-form h4 {
    font-size: 18px;
    }
    .brief-body h3.before::before {
    width: 215px;
    }
    .pt-110 {
    padding-top: 10px;
    }
    .brief-body label {
    font-size: 14px;
    }
    .af-subm-btn {
    padding: 40px 0 0;
    }
    .af-choose h5 { 
    font-size: 16px;
    }
    .text-right {
    text-align: center;
    }
    .card-mockup img {
    display: none;
    }
    .card-mockup {
    padding-top: 0;
    }
    .business-filling .card-mockup img {
    display: block;
    padding-top: 40px;
    }
    .business-filling .card-mockup {
    display: block;
    }
    .af-inner-box {
    width: 70%;
    margin: 0 auto 30px;
    }
    .mobile-icons {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 999;
    display: block;
    }
    ul.dropdown-menu.af-new-drop li {
    width: 100%;
    float: left;
    background-color: transparent;
    border: none;
    margin: 0;
    border-bottom: 1px solid #ccc;
    }

    ul.dropdown-menu.af-new-drop {
        background-color: transparent;
        position: relative;
        box-shadow: none;
        border: none;
        width: 100%;
    }
    .dropdown-menu.af-new-drop::after {
    display: none;
    }
    .af-m{
        display: none;
    }
    .af-login-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    bottom: 0;
    box-shadow: 0 0 50px 4px rgba(0, 0, 0, 0.2);
    height: 360px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    transition: all 0.5s ease 0s;
    width: 320px;
	}
	.navbar-nav .dropdown.login .dropdown-menu {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    opacity: 1;
    transition: 0.2s;
	}
	.background .full {
    z-index: 0;
    opacity: 0;
    display: none;
	}
	body.background {
     overflow-y: auto;
	}
}
@media(max-width: 480px){
    .design-img-box img {
    height: unset;
    object-fit: cover;
    }
    .pb-150 {
    padding-bottom: 60px;
    }
    .col-xs-7 {
    width: 100%;
    }
    .col-xs-3 {
    width: 100%;
    }
    .col-xs-4 {
    width: 100%;
    }
    .col-xs-5 {
    width: 100%;
    }
    .col-xs-6 {
    width: 100%;
    }
    .col-xs-8{
        width: 100%;
    }
    .col-xs-offset-3 {
    margin-left: 0;
    }
    .business-part-sec h2 {
    font-size: 14px;
    }
    .business-part-sec p {
    font-size: 12px;
    padding-bottom: 25px;
    }
    .boxes-business h3 {
    font-size: 14px;
    }   
    .ask-inline a {
    font-size: 11px;
    }
    .goto-work-box a {
    font-size: 11px;
    }
    .footer-contents ul li {
    padding: 5px 4px;
    display: block;
    text-align: left;
    }
    section.business-story-sec h2 {
    font-size: 14px;
    }
    section.business-story-sec p {
    font-size: 12px;
    }
    .company-box {
    padding-bottom: 30px;
    }
    .company-box p {
    font-size: 13px;
    }
    .graphic-content p {
    font-size: 13px;
    }
    .graphic-content h2 {
    font-size: 16px;
    }
    .banner-img-box {
    display: none;
    }
    .graphic-img-box {
    width: 100%;
    }  
    .design-img-box {
    width: 100%;
    }
   /*About us page*/

   .pr-custom {
    padding-right: 10%;
    }
    section.about-banner h1 {
    font-size: 25px;
    }
    .mission-img-box1::before {
    width: 130px;
    height: 130px;
    top: -20px;
    left: -6px;
    }
    .different-img-box {
    width: 100%;
    }
    .mission-img-box1 {
    width: 100%;
    margin: 75px 0;
    }
    .mission-img-box1::before {
    width: 130px;
    height: 130px;
    top: -20px;
    left: -6px;
    }
    .mission-box p {
    font-size: 14px;
    }  
    .mission-box h2 {
    font-size: 20px;
    }
    section.front-office h2 {
    font-size: 20px;
    padding-bottom: 100px;
    }
    section.designprofit-sec h2 {
    font-size: 20px;
    }
    .inner-full-box p {
    font-size: 14px;
    }
    .inner-full-box h5 {
    font-size: 14px;
    }
    .inner-full-box h6 {
    font-size: 12px;
    }
    .inner-full-box {
    min-height: 530px;
    margin-bottom: 120px;
    padding: 0 10px;
    }
    .outer-front-box::after {
    width: 186px;
    height: 186px;
    top: -40px;
    left: 0px;
    }
    .different-img-box::before {
    width: 250px;
    height: 250px;
    top: -25px;
    right: 10px;
    }
    .different-img-box {
    width: 100%;
    padding: 0 20px 0 0;
    }
    .inner-full-box img {
    width: 150px;
    height: 150px;
    margin: -21px 0 35px -30px;
    }
    section.front-office {
    padding: 40px 0 0px;
    }
    section.design-office {
    padding: 40px 0;
    }
    section.design-office h2 {
    font-size: 20px;
    padding-bottom: 25px;
    }
    section.design-office p {
    font-size: 16px;
    padding-bottom: 40px;
    }
    section.designprofit-sec {
    padding: 40px 0 0;
    }
    section.designprofit-sec h2 {
    padding: 0 0 40px;
    }
    .af-tabs ul.nav.nav-tabs li a {
    font-size: 13px;
    }
    .pl-custom {
    padding-left: 5%;
    }
    .pr-tablet {
    padding-right: 5%;
    }
    .af-tabs ul.nav.nav-tabs li {
    padding: 0 10px 0 0px;
    }
    .tab-content p {
    font-size: 14px;
    }
    .inner-contact-box h2 {
    font-size: 20px;
    padding: 0 0 25px;
    }
    .inner-contact-box p {
    font-size: 14px;
    }
    section.design-office::before {
    bottom: -15px;
    height: -webkit-fill-available;
    }
    section.design-office::after {
    top: -15px;
    height: -webkit-fill-available;
    }
    .inner-contact-box form textarea {
    font-size: 16px;
    }
    .inner-contact-box form input {
    font-size: 16px;
    }
    .btn-start-box button {
    font-size: 14px;
    padding: 8px 15px;
    }
    .inner-full-box {
    width: 85%;
    margin: 0 0 100px auto;
    }
   /*End*/

   /*FAQ page responsiveness*/

   section.faq-tabs .nav.nav-tabs li {
    width: 50%;
    padding: 0 0 20px;
    }
    .faq-logo-tab h2 {
    font-size: 20px;
    }
    .faq-logo-tab {
    margin: 40px 0 0;
    padding: 30px 15px;
    }
    .faq-logo-tab a {
    font-size: 14px;
    padding-left: 30px;
    }
    .faq-tabs .faq-logo-tab .panel .panel-body p {
    font-size: 13px;
    padding-left: 15px;
    padding-right: 5px;
    }
    .faq-logo-tab a.accordion-toggle.collapsed::before {
    width: 8px;
    height: 8px;
    }
    .faq-logo-tab a.accordion-toggle::before {
    width: 8px;
    height: 8px;
    }
    .panel-heading .accordion-toggle:after {
    width: 10px;
    height: 10px;
    right: -15px;
    background-size: contain;
    }
   /*End*/
   .af-design-box {
    width: 90%;
    margin: 0px 5% 70px;
    }
    .design-footer h2 {
    font-size: 18px;
    }



    .brief-body label input[type="text"] {
    width: 200px;
    }
    p.af-inline.wd-60 {
    width: 100%;
    padding: 5px 0px 0 80px;
    }
    section.brief-body h2 {
    font-size: 16px;    
    }
    .brief-body h3 {
    font-size: 16px;
    }
    .af-brief-form h4 {
    font-size: 16px;
    }
    section.brief-body img {
    width: 100%;
    }
    .brief-body h3.before::before {
    width: 190px;
    }
    .brief-body h3.before::after {
    left: 52.5%;
    }
    .input-fields input {
    height: 40px;
    }
    .brief-body h3 {
    font-size: 14px;
    }
    .brief-body label {
    font-size: 12px;
    }
    .af-choose h5 {
    font-size: 12px;
    }
    .af-choose-file {
    font-size: 14px;
    padding: 10px 29px;
    width: 175px;
    }
    .af-subm-btn input[type="submit"] {
    font-size: 16px;
    }
    section.faq-banner h1 {
    font-size: 20px;
    }
    .range-box label {
    font-size: 15px;
    }
    .af-right{
        text-align: right;
    }
    .af-inner-box {
    width: 90%;
    margin: 0 auto 30px;
    }
    .custom-dropdown label {
    font-size: 16px;
    }
    .custom-dropdown select {
    font-size: 16px;
    margin-left: 15px;
    padding: 10px 30px 10px 10px;
    }
    .af-select i {
    top: 14px;
        right: 9px;
    font-size: 16px;
    }
    .af-inner-footer h2 {
    font-size: 18px;
    }
    .af-inner-footer h3 {
    font-size: 15px;
    }
    .af-inner-footer h4 {
    font-size: 26px;
    }
    .af-login-box {
    max-width: 280px;
    }
    .af-login-box {
    width: 280px;
    }
    ul.login-with li {
    padding: 0px 0;
    }
    .af-login-box .col-xs-6 {
    width: 50%;
    }
    .header-sec .nav.navbar-nav ul.login-with li a {
    padding: 10px 5px;
	}
}



